.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

div>img {
  width: 37%;
  height: 20%;
  object-fit:cover;
  margin: auto;
  margin-top: 0.5em;
  padding-top: 0.1em;
}

ul {
    display: inline-flex;
    justify-content: center;
    list-style: none;
}

li {
  margin-top: 0.5em;
}

img.tooHigh {
  margin-top: 1.2em;
  padding-top: 0.1em
}

li.learnJPImg {
  margin-right: 0;
  padding-right: 0;
}

div.bing {
}