div.videoTitle {
  vertical-align: middle;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  color: #212121;
  line-height: 26px;
  height: 26px;
  margin-bottom: 12px;
  margin-Top: 5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.videoDescription {
  vertical-align: middle;
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  color: #999;
  line-height: 22px;
  height: 22px;
  margin-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes barrage{
   from{
     z-index: 990;
     left:100%;
     transform:translate3d(0,0,0);
   }
   to{
     z-index: 990;
     left:0;
     transform:translate3d(-100%,0,0);
     visibility: hidden;
   }
}

.block {
  position: absolute;
  margin-top: -10em;
  animation: barrage 5s linear 0s;
  font-size: 1.2em;
  color: white;
  font-weight: 800;
  z-index: 999;
}

.scroll_text {
  font-size: 3em;
  z-index: 990;
}

.tcBtn {
  display: inline;
}

.leftCol {
}